
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    font-family: 'Inter', sans-serif;
    background-color:rgb(235, 180, 113) ;
    display:flex;

}

.contacts {
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    flex-wrap: wrap;
    gap: 60px;
}
/* .contacts::after{
content:"";

flex-basis: 350px;

} */

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: white;
}


.contact-card > img {
    width: 100%;
    height:150px;

    align-self: center;
    border-radius:10px 10px 0px 0px;
    object-fit: cover;
}

.info-group{
    display: flex;
    align-items: center;
    align-content: center;

}
.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}

.banner > h2 {
color:rgb(65, 63, 61) ;

text-align: center;

}


.card-info{
    margin-left: 30px;
    
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    
    .banner > h2{
        font-size: 90px ;
        margin-bottom: 50px;
    };

    
  
    .contacts {
     margin:auto;
      width: 90%;
      height:auto;


    }
    .contact-card{

       flex-basis: 400px;
        height: 500;;
    }
    .contact-card >img{
        height: 400;
        object-fit: cover;
    };
    .banner > h2{
        font-size: 90px ;
        margin-bottom: 1000px ;
    }
    .card-info{
        font-size: 50px;
    }
   
  }



  @media screen and (max-width: 992) {


    .info-group 
    {
        font-size: 30px;
    };

  } 
  

  /* Todo:browser zoo family fix
  animation 
  groupinfo increase font
   */